.ICEauthority
.bash_history
.bundle
.cache
.config/evolution
.config/gnome-control-centre
.config/google-chrome
.config/gtk-3.0
.config/monitors.xml 
.config/unix-dot-files
.config/xdg
.gem
.gnupg
.local
.mozilla
.pki
.ssh/id_rsa
.ssh/known_hosts
.sudo_as_admin_successful
dev
docs
music
pictures
tmp
videos

