[user]
    email = richard@gibert.ca
    name = Richard Gibert
    signingkey = 04BE64655E10697111AD45AB933088B068EB4B3E

[pull]
    rebase = true

[core]
    excludesfile = /home/richard/.config/git/ignore
    pager = delta

[gpg]
    program = gpg

[commit]
    gpgsign = true

[delta]
    features = side-by-side line-numbers decorations
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
