.ICEauthority
.bash_history
.bundle
.cache
.config/evolution
.config/gnome-control-centre
.config/gnome-control-center
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/ibus
.config/libreoffice
.config/menus
.config/mimeapps.list
.config/monitors.xml 
.config/nautilus
.config/pulse
.config/totem
.config/unix-dot-files
.config/xdg
.gem
.gnome
.gnupg
.gimp-2.8
.local
.mozilla
.pki
.ssh/id_rsa
.ssh/known_hosts
.sudo_as_admin_successful
.thumbnails
.wine
dev
docs
music
pictures
tmp
videos

