.ICEauthority
.bash_history
.bundle
.cache
.config/autostart
.config/dotfiles
.config/enchant
.config/evolution
.config/gedit
.config/gnome-boxes
.config/gnome-control-centre
.config/gnome-control-center
.config/google-chrome
.config/gtk-2.0
.config/gtk-3.0
.config/ibus
.config/libreoffice
.config/libvirt
.config/menus
.config/mimeapps.list
.config/monitors.xml 
.config/nautilus
.config/pulse
.config/totem
.config/unix-dot-files
.config/wallpapers
.config/xdg
.gem
.gnome
.gnupg
.gimp-2.8
.lesshst
.local
.mozilla
.pki
.ssh/id_rsa
.ssh/known_hosts
.sudo_as_admin_successful
.thumbnails
.viminfo
.wget-hsts
.wine
[a-zA-Z0-9]*

